/.metadata/
/.project
/.classpath
/CRON/log/
/INPUT_FILES_V3/
/html/CAS/
/html/class/tcpdf/
/CRON/p1_post_affectation.php
/CRON/p1_post_solde.php
/CRON/p1_specific_update.php
/CRON/specific/
/html/documents*/
/html/images*/
/html/pdf*/
/html/includes/g2t_ws_url.php_DO_NOT_USE
/pdf/
/config/config.php
/.settings/
/phpinfos.php
/Test.php
/.gitignore