/*.sql
/CRON/cron.bat
/CRON/cron.sh
/CRON/php/import_absence.php
/CRON/php/import_affectation_siham.php
/CRON/php/import_agent.php
/CRON/php/import_structure.php
/CRON/log/
/CRON/specific/*.php
!/CRON/specific/*_exemple.php
/INPUT_FILES_V3/*.xml
!/INPUT_FILES_V3/*_exemple.xml
/INPUT_FILES_V3/*/
/html/includes/dbconnection.php
/html/javascripts_old
/html/style_old
/composer.lock
/config/*.php
!/config/*_exemple.php
/images/etablissement/*
!/images/etablissement/*_exemple.*
/nbproject/private/
/pdf/
/vendor/
Thumbs.db
