/*.sql
/CRON/cron.bat
/CRON/cron.sh
/CRON/php/import_absence.php
/CRON/php/import_affectation_siham.php
/CRON/php/import_agent.php
/CRON/php/import_structure.php
/CRON/log/
/CRON/specific/*.php
!/CRON/specific/*_exemple.php
/INPUT_FILES_V3/*.xml
!/INPUT_FILES_V3/*_exemple.xml
/INPUT_FILES_V3/*/
/html/includes/dbconnection.php
/composer.lock
/config/*.php
!/config/*_exemple.php
/images/logo_paris1_prod.png
/images/logo_paris1_test.png
/images/chargement*.gif
!/images/chargement.gif
/nbproject/private/
/pdf/
/vendor/
Thumbs.db
