@charset "utf-8";
/* @CHARSET "ISO-8859-1"; */

/*<group=Navigation principale>*/

#menuprincipal {
	position: absolute;
	top:  21px;
	left:  25px; /* 123 */
	width: 990px; /* 690 */
	height: 17px;
	z-index: 7;
	float: left;
	clear: right;
	margin: 0px;
	padding: 0px;
   list-style-type: none;
   font-family: Arial;
}

#menuprincipal a {
	width: 500px; /* 500 */
}

#menuprincipal dl {
	float: left;
	width: 247px ;/* 190px; */
   list-style-type: none;
}

#menuprincipal dt {
   width: 247px;  /* 200 */
	text-align: center;
	background-color: #336699;   /* #EF001F;   */
   list-style-type: none;
}

#menuprincipal dd {
	display: none;
	float: left; 
	background-color: white; /* #D2D2D2 */
	width: 247px; /* 257 */
	border: 1px solid; /* ajout MS */
	border-color: gray;  /* ajout MS */
   list-style-type: none;
}

#smenuprincipal1, #smenuprincipal2, #smenuprincipal3, #smenuprincipal4, #smenuprincipal5 {
	display: none;
	text-align: left;
	float: left;
	font-size: 11px;
	line-height: 15px;;
	font-family: Arial;
	padding: 0px;
	margin: 0px;
   list-style-type: none;
}

#smenuprincipal1 li, #smenuprincipal2 li, #smenuprincipal3 li, #smenuprincipal4 li, #smenuprincipal5 li,
#smenuprincipal1 dl, #smenuprincipal2 dl, #smenuprincipal3 dl, #smenuprincipal4 dl, #smenuprincipal5 dl,
#smenuprincipal1 dt, #smenuprincipal2 dt, #smenuprincipal3 dt, #smenuprincipal4 dt, #smenuprincipal5 dt,
#smenuprincipal1 dd, #smenuprincipal2 dd, #smenuprincipal3 dd, #smenuprincipal4 dd, #smenuprincipal5 dd,
#smenuprincipal1 ul, #smenuprincipal2 ul, #smenuprincipal3 ul, #smenuprincipal4 ul, #smenuprincipal5 ul
{
	width:  100%; 
	float: left;
   margin: 0px;
   padding: 0px;
   list-style-type: none;
} 

#smenuprincipal1 a, #smenuprincipal2 a, #smenuprincipal3 a, #smenuprincipal4 a, #smenuprincipal5 a {
	text-decoration: none;
	float:  left; 
	font-size: 11px;
	font-weight: bold;
	text-align: center; /* left; */
	padding: 0px;
	margin: 0px;
	padding-left: 0px; /*12px; */
	width: 245px;  /* 245px; */
	display: block;	
  	/*background: url(images/accueil_btn.gif) 2px 5px no-repeat; */
  	border-top: 1px solid; /* ajout MS */
	border-color: gray;  /* ajout MS */
   list-style-type: none;
}
#smenuprincipal1 a:hover, #smenuprincipal2 a:hover, #smenuprincipal3 a:hover, #smenuprincipal4 a:hover, #smenuprincipal5 a:hover {
	color: #EF001F; /* white */
	/* background: url(images/accueil_btn.gif) 2px 5px no-repeat; */
	background-color: white; /* #EF001F */
}

/*</group>*/

/*******************************************************/
/* NOUVELLE VERSION DE LA CSS                          */
/*******************************************************/

/*******************************************************/
/* DEFINITION DES MESSAGES D'ALERTE, WARNING ET INFO   */
/*******************************************************/
.tabmessage {
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse;
/* 	border-spacing: 1; /* Removes the cell spacing via CSS */
/* 	border: 1px solid white; */
	margin-left : 5px; 	
	margin-right : 5px; 	
}

.celerror {
	font-size : 15px;
	background-color: #CA433B; /* fond rouge */
	color : #FFFFFF;			
}

.imgerror {
	width:40px;
	height:40px;
}

.celwarning {
	font-size : 15px;
	background-color: #E9A33C; /* fond orange */
	color : #FFFFFF;			
}

.imgwarning {
	width:40px;
	height:40px;
}

.celinfo {
	font-size : 15px;
	background-color: #77A248; /* fond vert */
	color : #FFFFFF;			
}

.imginfo {
	width:40px;
	height:40px;
}

.celllogo {
    border-top-left-radius : 50px;
    border-bottom-left-radius : 50px;
/*	padding-right : 20px; */
	padding-left : 20px;
	display:table-cell;
	vertical-align: middle;
}

.cellmsg {
    border-top-right-radius : 50px;
    border-bottom-right-radius : 50px;
	padding-right : 20px;
	padding-left : 20px;
	padding-top : 20px;
	padding-bottom : 20px;
}

.imgquestion {
	width:40px;
	height:40px;
}

.resetfont {
	font-size : unset; 
}

/*******************************************************/
/* DEFINITION DU BODY (Police, taille, couleur, ...)   */
/*******************************************************/
.bodyhtml {
	FONT-SIZE: 14px; 
	FONT-FAMILY: trebuchet ms,arial,tahoma,verdana,sans-serif; 
	COLOR: #000000; 
	background-color: white;
	margin-left:10px;
	margin-right:10px;
}

/*******************************************************/
/* DEFINITION DES LEGENDES DE PLANNING                 */
/*******************************************************/
.legendetableau
{
	border-collapse : collapse; 
	border-spacing : 0; 
	border-width : 0;
 	margin:0;
 	padding:0;
}

.legendecouleur
{
	cursor:pointer; 
	border-left:1px solid black;
	border-top:1px solid black;
	border-right:1px solid black; 
	border-bottom:1px solid black; 
	height:14px; 
	width:14px;
	border-radius: 7px;
	display:inline-block;
}

.legendetexte
{
	padding-left:6px;	
	height:12px; 
}

.elementlegende
{
	height:12px; 
}

/*******************************************************/
/* Tableau simple (bordure fine, noire etc)            */
/*******************************************************/
.tableausimple {
   border-width:1px; 
   border-style:solid; 
   border-color:#888B8A;
   border-collapse:collapse;
/*	width:50%; */
 }
.cellulesimple{
   border-width:1px;
   border-style:solid; 
   border-color:#888B8A;
   padding-left:10px;
   padding-right:10px;
/*	width:50%; */
}
.titresimple{
   FONT-WEIGHT: bold ; 
   color : #BF3021; 
   border-width:1px;
   border-style:solid; 
   border-color:#888B8A;
   padding-left:10px;
   padding-right:10px;
   text-align : center;
/* width:50%; */
}

.cellulemultiligne{
    white-space:pre;
}

/****************************************************
/ MENU PRINCIPAL
/****************************************************/
#mainmenu {
   FONT-WEIGHT: bold; 
   FONT-SIZE: 12px; 
   FONT-FAMILY: trebuchet ms,arial,tahoma,verdana,sans-serif; 
   border-collapse : collapse; 
   COLOR: #336699; 
}
#mainmenu UL UL {
/*	BORDER-RIGHT: #888B8A 1px solid; BORDER-TOP: #888B8A 1px solid; BORDER-LEFT: #888B8A 1px solid; BORDER-BOTTOM: #888B8A 1px solid;*/ 
   PADDING-RIGHT: 0px; 
   DISPLAY: none; 
   PADDING-LEFT: 0px; 
   LEFT: 274px; 
   PADDING-BOTTOM: 0px;
   MARGIN: 0px; 
   PADDING-TOP: 0px; 
   POSITION: absolute; 
   TOP: -1px;
   Z-INDEX: 1
}
#mainmenu LI {
   PADDING-RIGHT: 2px; 
   PADDING-LEFT: 2px; 
   PADDING-BOTTOM: 5px; 
   MARGIN: 0px; 
   WIDTH: 270px; 
   PADDING-TOP: 5px;
   LIST-STYLE-TYPE: none; 
   POSITION: relative; 
   BACKGROUND-COLOR: #E5EAE9;  
   float: left; 
   text-align: center; 
}
#mainmenu LI a:hover {
   cursor:pointer; /*  COLOR: #A4405B; */
}
#mainmenu LI:hover {
   BACKGROUND-COLOR: #ffff70; 
   cursor:pointer; /* COLOR: #A4405B !important;*/
}
#mainmenu LI A {
   TEXT-DECORATION: none; 
   COLOR: #336699;
/*   width: calc(100% - 30px); */
}
#mainmenu UL.niveau1 LI {
/*   BACKGROUND-COLOR: #E5EAE9; */
/* --  BACKGROUND-COLOR: #336699; -- */ 
   BACKGROUND-COLOR: #D8D8D8; 
   TEXT-DECORATION: none;  
   BORDER-BOTTOM: #888B8A 1px solid;  
   BORDER-TOP: #888B8A 1px solid; 
   BORDER-LEFT: #888B8A 1px solid;  
   BORDER-RIGHT: #888B8A 1px solid; 
}

#mainmenu UL.nivea1 LI:hover {
   BACKGROUND-COLOR: #ffff70; 
   cursor:pointer; /* COLOR: #A4405B !important;*/
}

#mainmenu UL.niveau2 LI {
   BACKGROUND-COLOR: #E5EAE9;  
/*   BACKGROUND-COLOR: #D8D8D8; */
   TEXT-DECORATION: none; 
   BORDER-BOTTOM: #888B8A 1px solid;  
   BORDER-TOP: #888B8A 1px solid;  
   BORDER-LEFT: #888B8A 1px solid;  
   BORDER-RIGHT: #888B8A 1px solid; 
}

#mainmenu UL.niveau2 LI:hover {
   BACKGROUND-COLOR: #ffff70; 
   cursor:pointer; /* COLOR: #A4405B !important;*/
}

#mainmenu UL.niveau3 LI {
   BACKGROUND-COLOR: #E5EAE9;  
/*   BACKGROUND-COLOR: #D8D8D8; */
   TEXT-DECORATION: none; 
   BORDER-BOTTOM: #888B8A 1px solid;  
   BORDER-TOP: #888B8A 1px solid;  
   BORDER-LEFT: #888B8A 1px solid;  
   BORDER-RIGHT: #888B8A 1px solid; 
}
#mainmenu UL.niveau3 LI:hover {
   BACKGROUND-COLOR: #ffff70; 
   cursor:pointer; /* COLOR: #A4405B !important;*/
}

#mainmenu UL.niveau1 {
   DISPLAY: block;
}
#mainmenu LI:hover UL.niveau2 {
   DISPLAY: block;  
   FONT-SIZE: 11px; 
   LEFT: 0px; 
   TOP:24px; /* TOP: 18px; */
}
/*
#mainmenu ul.niveau1 li ul.niveau2 li:hover {
   BACKGROUND-COLOR: #ffff70; cursor:pointer; COLOR: #A4405B !important;
}
#mainmenu ul.niveau1 li ul.niveau2 a.li:hover {
   BACKGROUND-COLOR: #ffff70; cursor:pointer; COLOR: #A4405B !important;
}
*/


#mainmenu LI LI:hover UL.niveau3 {
   DISPLAY: block;
}
#mainmenu LI.sfhover UL.niveau2 {
   DISPLAY: block;  
   FONT-SIZE: 11px; 
   LEFT: 0px; 
   TOP: 18px;  
}
#mainmenu LI LI.sfhover UL.niveau3 {
   DISPLAY: block;
}
#mainmenu LI.plus {
   COLOR: #336699; 
   BACKGROUND-POSITION: right 50%; 
/*
   BACKGROUND-IMAGE: url(../images/fdroite.gif); 
*/
   BORDER-BOTTOM: #888B8A 1px solid; 
   BACKGROUND-REPEAT: no-repeat;
}

LI.plus::after {
	text-align: center;
	content: "\25B6";  /* triangle vers la droite ▶ */
	/* COLOR: red; */
	position: absolute; 
	right: 10px;
}

/****************************************************
/ TABLEAU DES SOLDES DE CONGES 
/****************************************************/
#soldeconges {
   FONT-WEIGHT: normal ;
}
#soldeconges table {
   border-collapse : collapse; 
   border-spacing : 0px; 
   text-align : center; 
}
#soldeconges TR.titre TD {
	FONT-WEIGHT: bold ; 
	color : #BF3021; 
	BORDER-RIGHT: #888B8A 1px solid; 
	PADDING-RIGHT: 4px; 
	BORDER-TOP: #888B8A 1px solid; 
	PADDING-LEFT: 4px; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 0px; 
	BORDER-LEFT: #888B8A 1px solid; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #888B8A 1px solid;
}
#soldeconges TR.entete TD, #soldeconges TR.element TD {
   color: black; 
   BORDER-RIGHT: #888B8A 1px solid; 
   PADDING-RIGHT: 4px; 
   BORDER-TOP: #888B8A 1px solid; 
   PADDING-LEFT: 4px; 
   PADDING-BOTTOM: 2px; 
   MARGIN: 0px; 
   BORDER-LEFT: #888B8A 1px solid; 
   PADDING-TOP: 2px; 
   BORDER-BOTTOM: #888B8A 1px solid;
}

/****************************************************
/ TABLEAU DE L'HISTORIQUE DES DEMANDES 
/****************************************************/
#demandeliste {
   FONT-WEIGHT: normal ;
   cursor : default;
}
#demandeliste table {
   border-collapse : collapse; 
   border-spacing : 0px; 
   text-align : center; 
   column-width: auto;
   table-layout: auto;
}
#demandeliste TR.titre TD {
   FONT-WEIGHT: bold ; 
   color : #BF3021; 
   BORDER-RIGHT: #888B8A 1px solid; 
   PADDING-RIGHT: 4px; BORDER-TOP: #888B8A 1px solid; 
   PADDING-LEFT: 4px; 
   PADDING-BOTTOM: 2px; 
   MARGIN: 0px; 
   BORDER-LEFT: #888B8A 1px solid; 
   PADDING-TOP: 2px; 
   BORDER-BOTTOM: #888B8A 1px solid;
}
#demandeliste TR.entete TD, #demandeliste TR.element TD {
   color: black; 
   BORDER-RIGHT: #888B8A 1px solid; 
   PADDING-RIGHT: 4px; 
   BORDER-TOP: #888B8A 1px solid; 
   PADDING-LEFT: 4px; 
   PADDING-BOTTOM: 2px; 
   MARGIN: 0px; 
   BORDER-LEFT: #888B8A 1px solid; 
   PADDING-TOP: 2px; 
   BORDER-BOTTOM: #888B8A 1px solid;
}

/****************************************************
/ PLANNING D'UN AGENT 
/****************************************************/
#planning {
   FONT-WEIGHT: normal ;
}

#planning table.tableau {
   border-collapse : collapse; 
   border-spacing : 0px; 
   cursor:pointer; 
}

#planning TR.entete TD {
   color: black; 
   BORDER-RIGHT: black 1px solid; 
   PADDING-RIGHT: 4px;
   BORDER-TOP: black 1px solid; 
   PADDING-LEFT: 4px; 
   PADDING-BOTTOM: 2px; 
   MARGIN: 0px; 
   BORDER-LEFT: black 1px solid; 
   PADDING-TOP: 2px; 
   BORDER-BOTTOM: black 1px solid;  
   text-align : center; 
}

#planning TR.ligneplanning {
/*	cursor:pointer; */
}


#planning TR.ligneplanning TD {
   color: black;
   BORDER-RIGHT: black 1px solid; 
   PADDING-RIGHT: 4px; 
   BORDER-TOP: black 1px solid; 
   PADDING-LEFT: 4px; 
   PADDING-BOTTOM: 2px; 
   MARGIN: 0px; 
   BORDER-LEFT: black 1px solid; 
   PADDING-TOP: 2px; 
   BORDER-BOTTOM: black 1px solid;  
   text-align : left; 
   height:15px;
}

#planning TR.ligneplanning TD.planningelement_matin {
   cursor:pointer; 
   border-left:2px solid black; 
   border-top:2px solid black; 
   border-right:0px solid black; 
   border-bottom:2px solid black; 
   PADDING-RIGHT: 1px; 
   PADDING-LEFT: 1px;
/*	width:250px; */   
}

#planning TR.ligneplanning TD.planningelement_aprem {
   cursor:pointer; 
   border-left:0px solid black; 
   border-top:2px solid black; 
   border-right:2px solid black; 
   border-bottom:2px solid black;  
   PADDING-RIGHT: 1px; 
   PADDING-LEFT: 1px;
/*	width:250px; */   
}

#planning TR.ligneplanning TD.planningelement_jour_matin {
   cursor:pointer; 
   border-left:3px solid red; 
   border-top:3px solid red; 
   border-right:0px solid red; 
   border-bottom:3px solid red; 
   PADDING-RIGHT: 1px; 
   PADDING-LEFT: 1px;
}

#planning TR.ligneplanning TD.planningelement_jour_aprem {
   cursor:pointer; 
   border-left:0px solid red; 
   border-top:3px solid red; 
   border-right:3px solid red; 
   border-bottom:3px solid red; 
   PADDING-RIGHT: 1px; 
   PADDING-LEFT: 1px;
}

#planning TR.ligneplanning TD.hidde_tip
{
	pointer-events: none;
}
/****************************************************
/ PLANNING D'UNE STRUCTURE
/****************************************************/
#structplanning {
   FONT-WEIGHT: normal ;
}
#structplanning table.tableau {
   /* border-collapse : collapse; */
   border-spacing : 0px; 
}
#structplanning TR.entete TD {
   color: black; 
   BORDER-RIGHT: black 1px solid; 
   PADDING-RIGHT: 4px; 
   BORDER-TOP: black 1px solid;
   PADDING-LEFT: 4px; 
   PADDING-BOTTOM: 2px; 
   MARGIN: 0px; 
   BORDER-LEFT: black 1px solid; 
   PADDING-TOP: 2px; 
   BORDER-BOTTOM: black 1px solid;  
   text-align : center; 
}
#structplanning TR.entete_mois TD {
   color: black; 
   FONT-WEIGHT: bold ; 
   BORDER-RIGHT: black 1px solid; 
   PADDING-RIGHT: 4px; 
   BORDER-TOP: black 1px solid; 
   PADDING-LEFT: 4px; 
   PADDING-BOTTOM: 2px; 
   MARGIN: 0px; 
   BORDER-LEFT: black 1px solid; 
   PADDING-TOP: 2px; 
   BORDER-BOTTOM: black 1px solid;  
   text-align : center; 
}
#structplanning TR.ligneplanning TD {
   color: black; 
   BORDER-RIGHT: black 1px solid; 
   PADDING-RIGHT: 4px; 
   BORDER-TOP: black 1px solid; 
   PADDING-LEFT: 4px; 
   PADDING-BOTTOM: 2px;
   MARGIN: 0px; 
   BORDER-LEFT: black 1px solid; 
   PADDING-TOP: 2px; 
   BORDER-BOTTOM: black 1px solid;  
   text-align : left; 
}
#structplanning TR.ligneplanning TD.planningelement_matin {
   cursor:pointer; 
   border-left:1px solid black; 
   border-top:1px solid black; 
   border-right:0px solid black; 
   border-bottom:1px solid black; 
   padding-right: 1px; 
   padding-left: 1px;
}

#structplanning TR.ligneplanning TD.planningelement_jour_matin {
   cursor:pointer; 
   border-left:3px solid #3FC6FF; 
   border-top:1px solid black; 
   border-right:0px solid black; 
   border-bottom:1px solid black; 
   padding-right: 1px; 
   padding-left: 1px;
}

#structplanning TR.ligneplanning TD.planningelement_aprem {
   cursor:pointer; 
   border-left:0px solid black; 
   border-top:1px solid black; 
   border-right:1px solid black; 
   border-bottom:1px solid black; 
   padding-right: 1px; 
   padding-left: 1px;
}

#structplanning TR.ligneplanning TD.planningelement_jour_aprem {
   cursor:pointer; 
   border-left:0px solid black; 
   border-top:1px solid black; 
   border-right:3px solid #3FC6FF; 
   border-bottom:1px solid black; 
   padding-right: 1px; 
   padding-left: 1px;
}

#structplanning TR.ligneplanning:hover td {
   /* BORDER-RIGHT: red 1px solid !important; */
   /* BORDER-LEFT: red 1px solid !important; */
   BORDER-TOP: #00ff00 2px solid; /* !important; /* #b1f5b9 */
   BORDER-BOTTOM: #00ff00 2px solid; /* !important;  /* #b1f5b9 */
}

.rayureplanning {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 2px,
    #465298 2px,
    #465298 4px
  );
}

/****************************************************
/ BULLE D'INFORMATION
/****************************************************/
span[data-tip]{
  display: inline-block;
  position: relative;
  width: 100%;
}

span[data-tip]:hover:before{
  content: attr(data-tip);
  position: absolute;
  padding: 0 8px;  
  height: 28px;
  line-height: 28px; 
  background-color: rgba(0, 0, 0, 0.8);
  left: -10px; 
  top: -38px;
/*  font-size: 14px; */
  border-radius: 3px; 
/*  border-radius: 15px; -- Permet d'arrondir les angles*/
  white-space: nowrap;
  color: #fff;
  font-size: 11px;
}

span[data-tip]:hover:after {
  content: "";
  position: absolute;
/*
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 0; 
*/
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: -5px; 
  top: -10px;
}

td[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
td[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    left: 10px;
    padding: 4px 4px 4px 8px;
/*    color: #666;*/
    color: #fff;
    white-space: pre;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #666;
    -webkit-box-shadow: 0px 0px 4px #666;
    box-shadow: 0px 0px 4px #666;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: start;
/*    
    background-image: -moz-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0eded), color-stop(1, #bfbdbd));
    background-image: -webkit-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -moz-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -ms-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -o-linear-gradient(top, #f0eded, #bfbdbd);
*/
    opacity: 0;
    z-index: 1;
    visibility: hidden;
}
td[data-title] {
    position: relative;
}

.bulleinfo:hover {
    background: #f5c95c8e;
    color: black;
}

/**************************************************
/ SELECT / INPUT / TEXTAREA OBLIGATOIRES
/**************************************************/
select:required{
    border-bottom: 2px solid #f5b7b1;
}

input:required,
textarea:required {
    border: 3px solid #f5b7b1;
    /* background-color : #f5b7b1; */
}

/**************************************************
/ ONGLETS
/**************************************************/
[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    /* font-weight: bold; */
    /* color: rgb(82, 75, 75); */
}

.tabs {
    color: #336699; /* rgb(255, 255, 255); */
    FONT-FAMILY: trebuchet ms,arial,tahoma,verdana,sans-serif;
    FONT-WEIGHT: bold;
    display: flex;
    margin: 0;
}

.tabs span {
    background: #e6e6e6; /* rgb(28, 145, 38); */
    padding: 10px;
    /* border: 1px solid rgb(255, 255, 255); */
    border:1px solid black;
    WIDTH: 150px;
    text-align: center;
}

.tabs span:hover {
    /* background: rgb(29, 185, 112);*/
    cursor: pointer;
    BACKGROUND: #D6D6D6;
    /* color: black; */
}

.tab_active {
    background: #ffffff !important; /* rgb(255, 0, 0) !important; */
}


.tabs__tab {  /*  formulaire de l'onglet  */
    /* background-color:#dddddd; */
    background-color:#F0F0F0;
    border:1px solid black;
    margin-top:-1px;
    padding:5px;
    display:none;
}

/*************************************************
/ Affichage de la liste des demandes d'absence
/*************************************************/
.abssencecommoblig {
    color: #e40ccd; 
    font-weight: normal;  /* bold; */
}
.abssencecommfacultatif {
    color: black;
    font-weight: normal;
}

/*************************************************
/ Fenêtres de dialogue
/*************************************************/
.imagedialog {
    vertical-align:middle; 
    width:40px;
    height:40px;    
}

.warningdialog {
    border:3px solid #eb984e;
    background-color: #fef5e7;
    border-radius: 0.5rem; /* => coins arrondis */
}

.questiondialog {
    border:3px solid #2e86c1;
    background-color: #d6eaf8;
    border-radius: 0.5rem; /* => coins arrondis */
}

/*************************************************
/ Image de chargement
/*************************************************/
.waiting_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/*************************************************
/ CSS SIHAM pour affichage CET dans module agent de l'ENT
/*************************************************/
.siham_css {
	font-family: Verdana;
	font-size: 8pt;
	text-align: left;
	color: #616162; 
	background: inherit; 
	border-width: 0;
}

