@charset "utf-8";
/* @CHARSET "ISO-8859-1"; */

/*******************************************************/
/* NOUVELLE VERSION DE LA CSS                          */
/*******************************************************/

/*******************************************************/
/* DEFINITION DES MESSAGES D'ALERTE, WARNING ET INFO   */
/*******************************************************/
.tabmessage {
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    /* 	border-spacing: 1; /* Removes the cell spacing via CSS */
    /* 	border: 1px solid white; */
    margin-left : 5px; 	
    margin-right : 5px; 	
}

.celerror {
    font-size : 15px;
    background-color: #CA433B; /* fond rouge */
    color : #FFFFFF;			
}

.imgerror {
    width:40px;
    height:40px;
}

.celwarning {
    font-size : 15px;
    background-color: #E9A33C; /* fond orange */
    color : #FFFFFF;			
}

.imgwarning {
    width:40px;
    height:40px;
}

.celinfo {
    font-size : 15px;
    background-color: #77A248; /* fond vert */
    color : #FFFFFF;			
}

.imginfo {
    width:40px;
    height:40px;
}

.celllogo {
    border-top-left-radius : 50px;
    border-bottom-left-radius : 50px;
    /*	padding-right : 20px; */
    padding-left : 20px;
    display:table-cell;
    vertical-align: middle;
}

.cellmsg {
    border-top-right-radius : 50px;
    border-bottom-right-radius : 50px;
    padding-right : 20px;
    padding-left : 20px;
    padding-top : 20px;
    padding-bottom : 20px;
}

.imgquestion {
    width:40px;
    height:40px;
}

.resetfont {
    font-size : unset; 
}

/*******************************************************/
/* DEFINITION DU BODY (Police, taille, couleur, ...)   */
/*******************************************************/
.bodyhtml {
    FONT-SIZE: 14px; 
    FONT-FAMILY: arial; /* trebuchet ms,arial,tahoma,verdana,sans-serif; */
    COLOR: #000000; 
    background-color: white;
    margin-left:10px;
    margin-right:10px;
}

/*******************************************************/
/* DEFINITION DES LEGENDES DE PLANNING                 */
/*******************************************************/
.legendetableau
{
    border-collapse : collapse; 
    border-spacing : 0; 
    border-width : 0;
    margin:0;
    padding:0;
}

.legendecouleur
{
    cursor:pointer; 
    border-left:1px solid black;
    border-top:1px solid black;
    border-right:1px solid black; 
    border-bottom:1px solid black; 
    height:14px; 
    width:14px;
    border-radius: 7px;
    display:inline-block;
}

.legendetexte
{
    padding-left:6px;	
    height:12px; 
}

.elementlegende
{
    height:12px; 
}

/*******************************************************/
/* Tableau simple (bordure fine, noire etc)            */
/*******************************************************/
.tableausimple {
   border-width:1px; 
   border-style:solid; 
   border-color:#888B8A;
   border-collapse:collapse;
/*	width:50%; */
 }
.cellulesimple{
   border-width:1px;
   border-style:solid; 
   border-color:#888B8A;
   padding-left:10px;
   padding-right:10px;
/*	width:50%; */
}
.titresimple{
   FONT-WEIGHT: bold ; 
   color : #BF3021 !important; 
   border-width:1px;
   border-style:solid; 
   border-color:#888B8A;
   padding-left:10px;
   padding-right:10px;
   text-align : center;
/* width:50%; */
}

.cellulemultiligne{
    white-space:pre;
}

/****************************************************
/ MENU PRINCIPAL
/****************************************************/
#mainmenu {
   FONT-FAMILY: Arial;
   FONT-WEIGHT: bold; 
   FONT-SIZE: 14px; 
   border-collapse: collapse; 
   COLOR: #336699; 
}

/* Défini l'aspect des menus de niveau 1, 2 et 3*/
#mainmenu UL UL {
   DISPLAY: none; 
   POSITION: absolute; 
   PADDING-RIGHT: 0px; 
   PADDING-LEFT: 0px; 
   PADDING-BOTTOM: 0px;
   PADDING-TOP: 0px; 
   TOP: -1px;
   LEFT: 274px; 
   MARGIN: 0px; 
   Z-INDEX: 2000;
}
#mainmenu LI {
   POSITION: relative; 
   PADDING-RIGHT: 2px; 
   PADDING-LEFT: 2px; 
   PADDING-BOTTOM: 5px; 
   PADDING-TOP: 5px;
   MARGIN: 0px;
   WIDTH: 270px; 
   LIST-STYLE-TYPE: none; 
   BACKGROUND-COLOR: #E5EAE9;  
   float: left; 
   text-align: center; 
}

/* Défini l'aspect du menu lorsqu'on passe la souris au dessus */
/* ATTENTION : La modification des ces propriétés impacte les niveau 2 et 3 */
/*       sauf si elles sont définies dans le #mainmenu UL.niveau2 LI:hover, #mainmenu UL.niveau3 LI:hover */
#mainmenu UL.niveau1 LI:hover 
{
   BACKGROUND-COLOR: #F9E1A4; /* #F2D99D; //#f5c95c; //#ffff70; */
   cursor: pointer; 
}

/* Défini la couleur et l'aspect des liens HTML dans le menu principal */
#mainmenu LI A {
   TEXT-DECORATION: none; 
   COLOR: inherit;
}

/* Tous les menu de niveau 1, 2 et 3 sont en mode block  */
#mainmenu UL.niveau1 {
   DISPLAY: block;
}

/* Aspect du menu de niveau 1 */
/* ATTENTION : La modification de ces propriétés impacte les niveau 2 et 3 */
/*             Sauf si les valeurs sont définies dans #mainmenu UL.niveau2 LI, #mainmenu UL.niveau3 LI  */
#mainmenu UL.niveau1 LI {
    BACKGROUND-COLOR: #D8D8D8; 
    TEXT-DECORATION: none;  
    BORDER-BOTTOM: #888B8A 1px solid;  
    BORDER-TOP: #888B8A 1px solid; 
    BORDER-LEFT: #888B8A 1px solid;  
    BORDER-RIGHT: #888B8A 1px solid; 
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

/* Aspect du menu de niveau 2 et de niveau 3 */
/* Inutile de reprendre les autres propriétés, car elles sont héritées de niveau 1 */
#mainmenu UL.niveau2 LI,
#mainmenu UL.niveau3 LI {
    BACKGROUND-COLOR: #E5EAE9;
}

/* Position du menu de niveau 2 */
#mainmenu LI:hover UL.niveau2 {
   DISPLAY: block;  
   FONT-SIZE: 11px; 
   LEFT: -1px; 
   TOP:27px;
}

/* Position du menu de niveau 3  */
#mainmenu LI LI:hover UL.niveau3 {
   DISPLAY: block;
}

/* Défini l'aspect et la position du marqueur de 'sous-menu' ▶ */
#mainmenu LI.plus {
   COLOR: inherit; 
   BACKGROUND-POSITION: right 50%; 
   BORDER-BOTTOM: #888B8A 1px solid; 
   BACKGROUND-REPEAT: no-repeat;
}
#mainmenu LI.plus::after {
    text-align: center;
    content: "\25B6";  /* triangle vers la droite ▶ */
    position: absolute; 
    right: 10px;
}

/****************************************************
/ TABLEAU DES SOLDES DE CONGES 
/****************************************************/
#soldeconges {
    FONT-WEIGHT: normal ;
}
#soldeconges table {
    border-collapse : collapse; 
    border-spacing : 0px; 
    text-align : center; 
}
#soldeconges TR.titre TD {
    FONT-WEIGHT: bold ; 
    color : #BF3021; 
    BORDER-RIGHT: #888B8A 1px solid; 
    PADDING-RIGHT: 4px; 
    BORDER-TOP: #888B8A 1px solid; 
    PADDING-LEFT: 4px; 
    PADDING-BOTTOM: 2px; 
    MARGIN: 0px; 
    BORDER-LEFT: #888B8A 1px solid; 
    PADDING-TOP: 2px; 
    BORDER-BOTTOM: #888B8A 1px solid;
}
#soldeconges TR.entete TD, #soldeconges TR.element TD {
    color: black; 
    BORDER-RIGHT: #888B8A 1px solid; 
    PADDING-RIGHT: 4px; 
    BORDER-TOP: #888B8A 1px solid; 
    PADDING-LEFT: 4px; 
    PADDING-BOTTOM: 2px; 
    MARGIN: 0px; 
    BORDER-LEFT: #888B8A 1px solid; 
    PADDING-TOP: 2px; 
    BORDER-BOTTOM: #888B8A 1px solid;
}

/****************************************************
/ TABLEAU DE L'HISTORIQUE DES DEMANDES 
/****************************************************/
#demandeliste {
    FONT-WEIGHT: normal ;
    cursor : default;
}
#demandeliste table {
    border-collapse : collapse; 
    border-spacing : 0px; 
    text-align : center; 
    column-width: auto;
    table-layout: auto;
}
#demandeliste TR.titre TD {
    MARGIN: 0px; 
    FONT-WEIGHT: bold ; 
    color : #BF3021; 
    BORDER-RIGHT: #888B8A 1px solid; 
    BORDER-TOP: #888B8A 1px solid; 
    BORDER-LEFT: #888B8A 1px solid; 
    BORDER-BOTTOM: #888B8A 1px solid;
    PADDING-RIGHT: 4px; 
    PADDING-LEFT: 4px; 
    PADDING-BOTTOM: 2px; 
    PADDING-TOP: 2px; 
}
#demandeliste TR.entete TD, #demandeliste TR.element TD {
    color: black; 
    BORDER-RIGHT: #888B8A 1px solid; 
    PADDING-RIGHT: 4px; 
    BORDER-TOP: #888B8A 1px solid; 
    PADDING-LEFT: 4px; 
    PADDING-BOTTOM: 2px; 
    MARGIN: 0px; 
    BORDER-LEFT: #888B8A 1px solid; 
    PADDING-TOP: 2px; 
    BORDER-BOTTOM: #888B8A 1px solid;
}

/****************************************************
/ PLANNING D'UN AGENT 
/****************************************************/
#planning {
    FONT-WEIGHT: normal ;
}

#planning table.tableau {
    border-collapse : collapse; 
    border-spacing : 0px; 
    cursor:pointer; 
}

#planning TR.entete TD {
    color: black; 
    BORDER-RIGHT: black 1px solid; 
    PADDING-RIGHT: 4px;
    BORDER-TOP: black 1px solid; 
    PADDING-LEFT: 4px; 
    PADDING-BOTTOM: 2px; 
    MARGIN: 0px; 
    BORDER-LEFT: black 1px solid; 
    PADDING-TOP: 2px; 
    BORDER-BOTTOM: black 1px solid;  
    text-align : center; 
}

#planning TR.ligneplanning {
/*	cursor:pointer; */
}


#planning TR.ligneplanning TD {
    color: black;
    BORDER-RIGHT: black 1px solid; 
    PADDING-RIGHT: 4px; 
    BORDER-TOP: black 1px solid; 
    PADDING-LEFT: 4px; 
    PADDING-BOTTOM: 2px; 
    MARGIN: 0px; 
    BORDER-LEFT: black 1px solid; 
    PADDING-TOP: 2px; 
    BORDER-BOTTOM: black 1px solid;  
    text-align : left; 
    height:15px;
}

#planning TR.ligneplanning TD.planningelement_matin {
    cursor:pointer; 
    border-left:2px solid black; 
    border-top:2px solid black; 
    border-right:0px solid black; 
    border-bottom:2px solid black; 
    PADDING-RIGHT: 1px; 
    PADDING-LEFT: 1px;
    /*	width:250px; */   
}

#planning TR.ligneplanning TD.planningelement_aprem {
    cursor:pointer; 
    border-left:0px solid black; 
    border-top:2px solid black; 
    border-right:2px solid black; 
    border-bottom:2px solid black;  
    PADDING-RIGHT: 1px; 
    PADDING-LEFT: 1px;
    /*	width:250px; */   
}

#planning TR.ligneplanning TD.planningelement_jour_matin {
    cursor:pointer; 
    border-left:3px solid red; 
    border-top:3px solid red; 
    border-right:0px solid red; 
    border-bottom:3px solid red; 
    PADDING-RIGHT: 1px; 
    PADDING-LEFT: 1px;
}

#planning TR.ligneplanning TD.planningelement_jour_aprem {
    cursor:pointer; 
    border-left:0px solid red; 
    border-top:3px solid red; 
    border-right:3px solid red; 
    border-bottom:3px solid red; 
    PADDING-RIGHT: 1px; 
    PADDING-LEFT: 1px;
}

#planning TR.ligneplanning TD.hidde_tip
{
    pointer-events: none;
}
/****************************************************
/ PLANNING D'UNE STRUCTURE
/****************************************************/
#structplanning {
    FONT-WEIGHT: normal ;
}
#structplanning table.tableau {
    border-spacing : 0px; 
}
#structplanning TR.entete TD {
    color: black; 
    BORDER-RIGHT: black 1px solid; 
    PADDING-RIGHT: 4px; 
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 4px; 
    PADDING-BOTTOM: 2px; 
    MARGIN: 0px; 
    BORDER-LEFT: black 1px solid; 
    PADDING-TOP: 2px; 
    BORDER-BOTTOM: black 1px solid;  
    text-align : center; 
}
#structplanning TR.entete_mois TD {
    color: black; 
    FONT-WEIGHT: bold ; 
    BORDER-RIGHT: black 1px solid; 
    PADDING-RIGHT: 4px; 
    BORDER-TOP: black 1px solid; 
    PADDING-LEFT: 4px; 
    PADDING-BOTTOM: 2px; 
    MARGIN: 0px; 
    BORDER-LEFT: black 1px solid; 
    PADDING-TOP: 2px; 
    BORDER-BOTTOM: black 1px solid;  
    text-align : center; 
}
#structplanning TR.ligneplanning TD {
    color: black; 
    BORDER-RIGHT: black 1px solid; 
    PADDING-RIGHT: 4px; 
    BORDER-TOP: black 1px solid; 
    PADDING-LEFT: 4px; 
    PADDING-BOTTOM: 2px;
    MARGIN: 0px; 
    BORDER-LEFT: black 1px solid; 
    PADDING-TOP: 2px; 
    BORDER-BOTTOM: black 1px solid;  
    text-align : left; 
}
#structplanning TR.ligneplanning TD.planningelement_matin {
    cursor:pointer; 
    border-left:1px solid black; 
    border-top:1px solid black; 
    border-right:0px solid black; 
    border-bottom:1px solid black; 
    padding-right: 1px; 
    padding-left: 1px;
}

#structplanning TR.ligneplanning TD.planningelement_jour_matin {
    cursor:pointer; 
    border-left:3px solid #3FC6FF; 
    border-top:1px solid black; 
    border-right:0px solid black; 
    border-bottom:1px solid black; 
    padding-right: 1px; 
    padding-left: 1px;
}

#structplanning TR.ligneplanning TD.planningelement_aprem {
    cursor:pointer; 
    border-left:0px solid black; 
    border-top:1px solid black; 
    border-right:1px solid black; 
    border-bottom:1px solid black; 
    padding-right: 1px; 
    padding-left: 1px;
}

#structplanning TR.ligneplanning TD.planningelement_jour_aprem {
    cursor:pointer; 
    border-left:0px solid black; 
    border-top:1px solid black; 
    border-right:3px solid #3FC6FF; 
    border-bottom:1px solid black; 
    padding-right: 1px; 
    padding-left: 1px;
}

#structplanning TR.ligneplanning:hover td {
    /* BORDER-RIGHT: red 1px solid !important; */
    /* BORDER-LEFT: red 1px solid !important; */
    BORDER-TOP: #00ff00 2px solid; /* !important; /* #b1f5b9 */
    BORDER-BOTTOM: #00ff00 2px solid; /* !important;  /* #b1f5b9 */
}

.rayureplanning {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 2px,
        #465298 2px,
        #465298 4px
    );
}

/****************************************************
/ BULLE D'INFORMATION
/****************************************************/
span[data-tip]{
    display: inline-block;
    position: relative;
    width: 100%;
}

span[data-tip]:hover:before{
    content: attr(data-tip);
    position: absolute;
    padding: 0 8px;  
    height: 28px;
    line-height: 28px; 
    background-color: rgba(0, 0, 0, 0.8);
    left: -10px; 
    top: -38px;
    /*  font-size: 14px; */
    border-radius: 3px; 
    /*  border-radius: 15px; -- Permet d'arrondir les angles*/
    white-space: nowrap;
    color: #fff;
    font-size: 11px;
}

span[data-tip]:hover:after {
    content: "";
    position: absolute;
    /*
    border-top: 8px solid rgba(0, 0, 0, 0.8);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    left: 0; 
    */
    border-top: 8px solid rgba(0, 0, 0, 0.8);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    left: -5px; 
    top: -10px;
}

td[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
td[data-title]:after {
    content: attr(data-title);
    position: absolute;
/*    bottom: -1.6em; */
    top: 90%;
    left: 10px;
    padding: 4px 4px 4px 8px;
/*    color: #666;*/
    color: #fff;
    white-space: pre;
    box-shadow: 0px 0px 4px #666;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: start;
    border-radius: 5px;
    opacity: 0;
    z-index: 2000;
    visibility: hidden;
}
td[data-title] {
    position: relative;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active,
.bulleinfo:hover {
    background: #f5c95c8e;
    color: black;
}

/**************************************************
/ SELECT / INPUT / TEXTAREA OBLIGATOIRES
/**************************************************/
select:required{
    border-bottom: 2px solid #f5b7b1;
}

input:required,
textarea:required {
    border: 3px solid #f5b7b1;
    /* background-color : #f5b7b1; */
}

/**************************************************
/ ONGLETS
/**************************************************/
[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    /* font-weight: bold; */
    /* color: rgb(82, 75, 75); */
}

.tabs {
    color: #336699; /* rgb(255, 255, 255); */
    FONT-FAMILY: arial; /* trebuchet ms,arial,tahoma,verdana,sans-serif; */
    FONT-WEIGHT: bold;
    display: flex;
    margin: 0;
}

.tabs span {
    background: #e6e6e6; /* rgb(28, 145, 38); */
    padding: 10px;
    /* border: 1px solid rgb(255, 255, 255); */
    border:1px solid black;
    WIDTH: 150px;
    text-align: center;
}

.tabs span:hover {
    /* background: rgb(29, 185, 112);*/
    cursor: pointer;
    BACKGROUND: #D6D6D6;
    /* color: black; */
}

.tab_active {
    background: #ffffff !important; /* rgb(255, 0, 0) !important; */
}


.tabs__tab {  /*  formulaire de l'onglet  */
    /* background-color:#dddddd; */
    background-color:#F0F0F0;
    border:1px solid black;
    margin-top:-1px;
    padding:5px;
    display:none;
}

/*************************************************
/ Affichage de la liste des demandes d'absence
/*************************************************/
.abssencecommoblig {
    color: #e40ccd; 
    font-weight: normal;  /* bold; */
}
.abssencecommfacultatif {
    color: black;
    font-weight: normal;
}

/*************************************************
/ Fenêtres de dialogue
/*************************************************/
.imagedialog {
    vertical-align:middle; 
    width:40px;
    height:40px;    
}

.warningdialog {
    border:3px solid #eb984e;
    background-color: #fef5e7;
    border-radius: 0.5rem; /* => coins arrondis */
}

.questiondialog {
    border:3px solid #2e86c1;
    background-color: #d6eaf8;
    border-radius: 0.5rem; /* => coins arrondis */
}

/*************************************************
/ Image de chargement
/*************************************************/
.waiting_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/*************************************************
/ CSS SIHAM pour affichage CET dans module agent de l'ENT
/*************************************************/
.siham_body {
    margin: 0 ; 
    overflow: hidden;
}

.siham_css {
    font-family: Verdana;
    font-size: 8pt;
    text-align: left;
    color: #616162; 
    background: inherit; 
    border-width: 0;
}

/**************************************************
/ CSS DES BOUTONS
/**************************************************/
.g2tbouton {
    padding: 8px 8px 8px 38px;
    margin: 2px;
    font-size: 16px;
    text-align: left;
    font-family: inherit;
    color: #00326e;

    background-color : #dee4f0;   /* rgb(222, 228, 240);  */
    border: 1px solid #00326e2b;
    border-bottom-color: #00236e6c;
    border-right-color: #00326e6c;
    border-radius: 2px;

    background-repeat: no-repeat;
    background-position: top 8px left 8px;
    background-size: 19px;
}

.g2tbouton:hover {  
    background-color :#f5c95c; 
}

.g2tbouton:disabled,
.g2tbouton:disabled:hover { 
    background-color: #d0dade; 
    opacity: 0.4; 
}

.g2tsupprbouton {
    background-image: url("images/trash-alt-solid.svg");
    width: 130px;
    background-size: 17px;
}

.g2tvalidebouton {
    background-image: url("images/saving.svg");
    width: 130px;
}

.g2tsuivantbouton {
    background-image: url("images/tango-right-arrow-blue.svg");
    width: 130px;
}

.g2tenvoibouton {
    background-image: url("images/paper-plane-solid.svg");
    width: 130px;
    background-size: 18px;
}

.g2tdocumentbouton {
    background-image: url("images/documents.svg"); 
    width: 130px;
    background-size: 18px;
}

.g2tboutonwidthauto {
    width : auto !important;
}

/**************************************************
/ CSS DES SELECT, INPUT ET TEXTAREA
/**************************************************/
form select, form input, form textarea {
  font-size: 14px;
  color: #00326e;
  border: 1px solid #00326e5c;
  margin-bottom: 3px;
}
select {
  background: #f3f6f9 !important;
  border: 1px solid #ccc;
  padding: 3px 4px;
  font-family: inherit;
}

.selectpadding {
  padding: 8px 8px;    
}

/**********************************************************
/ SURCHARGE DE CERTAINES CLASSES DE LA CSS SELECT2-MIN.CSS
/**********************************************************/
/*********************
.select2-container--default .select2-selection--single {
  background-color: #f3f6f9 !important;
  color: #00326e !important;
}

.select2-dropdown {
  background-color: #f3f6f9 !important;
  color: #00326e !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #E0E0E6 !important;
  color: #00326e !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  background-color: #f3f6f9 !important;
  color: #00326e !important;  
}


/.select2-container--open .select2-dropdown {
/  left: 10px;
/  top : 8px;
/}


.ui-autocomplete-input {
  color: #00326e !important;
}
*******/

.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-divider
{
    font-family: Arial ;
    font-size: 1em ;      
}

.ui-menu .kind { 
    color: #2E5693; 
    font-variant: small-caps;
    font-weight: bold;
    margin: 0.1em;
    padding-top : 10px;
    padding-bottom : 10px;
    border-top: dotted 1px;
    list-style: none;
}
.ui-menu .kind:first-child {
    margin-top: 0;
    border-top: none;
    padding-top : 10px;
    padding-bottom : 10px;
}

.ui-menu .ui-menu-item {
    margin:0 ;
    padding: 0 ;
    zoom: 1 ;
    float: left ;
    clear: left ;
    width: 100% ;
    font-size: 1.2em;
}
.ui-menu .ui-menu-item a {
    text-decoration:none ;
    display:block ;
    padding:.2em .4em ;
    line-height:1.5 ;
    zoom:1 ;
}

/*
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal ;
    margin: -1px ;
    // background-color : red ;
    // border-color : yellow ;
}
*/

/********************************************
/ CSS DU TEXTE
/*******************************************/

.greentext {
    color:green;
}

.redtext {
    color:red;
}

.blacktext {
    color:black;
}

.reglegestiontextcolor {
    color:#EF4001;
}

.infogeststruct {
    color:#6c3483;
}

.kobackgroundtext {
    background-color : #f1948a;
}

.okbackgroundtext {
    background-color : #c5efbd;
}

.commentobligatoirebackground {
    background-color : #f5b7b1;
}

.largerfontsize {
    font-size: larger;
}

.largefontsize {
    font-size: large;
}

.fontsize15 {
    font-size:15px;
}

.fontsize25 {
    font-size:25px;    
}

.ajoutcongesbloc {
    border:solid 1px black; 
    background:lightgreen; 
    width:700px; 
    display:block;
}

.supprcongesbloc {
    border:solid 1px black; 
    background:lightsteelblue; 
    width:900px; 
    display:block;
}

.commenttextarea {
    line-height:20px;
    resize: none;
}

.cursorpointer {
    cursor: pointer;
}

.widthtd50 {
    width:50px;
}

.widthtd90 {
    width:90px;
}

.widthtd110 {
    width:110px;
}

.centeraligntext {
    text-align:center;
}

.leftaligntext {
    text-align: left;
}

.warningfinconvention {
    color:#E9A33C;
    font-weight: bold;
}

.alertfinconvention {
    color:red;
    font-weight: bold;
}

.periodeobligatoirebloc {
    DISPLAY: block;
    width: 700px; 
    padding-top:10px; 
    padding-bottom:10px;
    border: 3px solid #888B8A;
    background: #E5EAE9;
    color: red;  
}

.warningsitupart {
    border:solid 1px black; 
    background:orange; 
    width:600px; 
    display:block;
    padding-left: 10px;
    padding-right: 10px;
}

.delegpaddingleft,
.parampaddingleft {
    padding-left: 30px;
}

.namefieldwidth {
    width: 300px;
}

.selectstructure {
    width: 700px !important;
}

.erroroptionCETlabel,
.erroralimCETlabel {
    color: red;
    font-weight: bold; 
    margin-left:20px;
}

.inputdataoptionCET,
.inputdataalimCET {
    border-top-style: hidden; 
    border-right-style: hidden; 
    border-left-style: hidden; 
    border-bottom-style: hidden;
}

.ajoutcetbloc {
    border:solid 1px black; 
    background:lightgreen; 
    width:600px; 
    display:block;
    padding: 8px;
}

.supprcetbloc {
    border:solid 1px black; 
    background:lightsteelblue; 
    width:600px; 
    display:block;
    padding: 8px;
}

.symbolegestionstruct {
    font-size:18px;
}

.barreseparation {
    width:50px;
    margin:0px;
    visibility:hidden;
}

.motifraisonmedicalteletravail {
    margin-left: 40px; 
    margin-top: 5px; 
    margin-bottom: 5px;
}

.noborder {
    border:none;
}

.gestteletravaillabel {
    margin-top: 10px;
    display:inline-block;
}

.hiddenelement {
    display:none;
}

.javaokbutton,
.javaconfirmbutton,
.javacancelbutton {
    height:30px;
    width:100px;
}